<nav class="navbar background">

  <ul class="nav-list">
    <div class="logo">
      <img src="assets/img/logo.png" alt="logo">
    </div>
    <li><a href="#Home">Home</a></li>
    <li><a href="#Products">Our Service</a></li>
    <li><a href="#team">Our Team</a></li>
    <li><a href="#">About</a></li>
    <li><a href="#Contact">Contact Us</a></li>
  </ul>

  <div class="search">
<!--    <input type="text" name="search" id="searchbar">-->
<!--    <button class="btn-search">Search</button>-->
  </div>

</nav>

<section class="firstsection background" id="Home">

  <div class="box-main">

    <div class="firsthalf">
      <h1>Welcome to XARVIX Corporation.</h1>
      <p>we are at your service to design and build static/dynamic, personal/commercial websites for you and provide the support in production level as well</p>
      <div>
        <Button class="btn">Subscibe</Button>
        <Button class="btn">Watch Video</Button>
      </div>
    </div>

    <div class="secondhalf">
      <img src="assets/img/logo.png" alt="image">
    </div>

  </div>


</section>


<section class="product-section" id="Products">

  <h2 class="h-primary">Our Services</h2>

  <div class="section">

    <div class="para">
      <p class="text-big">Static and Dynamic Web App Development</p>
      <p>Do you want a laptop that demands attention and delivers serious performance in every task you use it
        for? That’s what you get with the HP Spectre x360, a versatile, dependable machine that beautifully
        blends form and function.

        Plus, you can use it to easily tackle any project you have, whether you’re putting in extra hours in
        the office or getting ready to binge watch your favorite TV show at home. You can enjoy any
        entertainment you please with the gorgeous 4K screen, or use it to see the nitty-gritty details of a
        design you’re working on.

        With the unique blend of high-performance hardware and eye-catching design that you have come to
        expect from HP, we’re certain you’ll be able to get more done and look good in the process with the
        Spectre.
        HP® knows that different people have different workflows, and that’s exactly why the HP Spectre x360
        laptop is available in two distinct sizes. We want to give you as much power, portability, and
        screen real estate as you need, so you can truly work on your terms.For the user on-the-go, the
        13.3-inch model is a great option to toss in any bag and go. It’s incredibly lightweight, comes with
        a full-size keyboard, and with its micro-edge display, you won’t have to sacrifice screen size for
        portability. With the 15.6-inch model, you can enjoy even more screen size, giving you a great tool
        to take your work on-the-go, in the office, or at home.And if you want even more screen space, it’s
        easy to connect up to two 4K monitors with the included USB-C™ ports, giving you a full desktop
        experience whenever you need it.
      </p>

    </div>

    <img src="assets/img/hp.jpg" alt="image">

  </div>

  <div class="section left">

    <div class="para">
      <p class="text-big">DeskTop Application Development</p>
      <p>The XPS (Xtreme Performance System) name dates back to 1990 when Dell was more focused on corporate
        business than consumers. Gateway was number one in the high-end consumer market. In early 1993,
        there was a staff meeting to address how to pursue this emerging market. At this time, Dell's annual
        revenue was less than $500 million and Michael Dell was involved in most decisions. At this meeting,
        it was decided to launch a new high-end product line to compete with Gateway. Vernon Weiss was
        assigned as product manager to spearhead and manage the marketing of the new product. He worked with
        Brian Zucker who led the architecture and engineering effort. In September 1993, the first two
        versions of the XPS line were announced. The first generation of the XPS system was available as
        either a desktop or a tower case. This new product line was so far ahead of the competition that it
        was featured on the cover of the October 1993 issue of PC/Computing.

        For the next three years, with Vernon Weiss and Brian Zucker continuing to evolve the product line,
        the XPS systems won over 100 magazine reviews and covers, being the first to adopt the latest PC
        technology available and bring it to the consumers at an attractive price. The XPS mainly competes
        against computers such as Acer's Aspire, HP's Pavilion and Envy, Lenovo's IdeaPad, Samsung's Sens
        and Toshiba's Satellite.</p>

    </div>

    <img src="assets/img/xps.jpg" alt="image">

  </div>

  <div class="section">

    <div class="para">
      <p class="text-big"> QA Automation Testing </p>
      <p>Acer Predator is a gamer-focused brand and line of computer hardware owned by Acer. In 2008, Acer
        introduced itself in the gaming computer market with a line of desktop computers: the Acer Aspire
        Predator series, later renamed as Acer Predator. The series is characterized by the futuristic
        computer chassis and high performance. In 2016, a complete range of Predator desktops, gaming
        notebooks, tablets and accessories exists.[1]

        The range competes with Lenovo's Legion, Dell's G series, Alienware, HP's Omen and Asus ROG
        series.Acer Predator is a gamer-focused brand and line of computer hardware owned by Acer. In 2008,
        Acer introduced itself in the gaming computer market with a line of desktop computers: the Acer
        Aspire Predator series, later renamed as Acer Predator. The series is characterized by the
        futuristic computer chassis and high performance. In 2016, a complete range of Predator desktops,
        gaming notebooks, tablets and accessories exists.[1]

        The range competes with Lenovo's Legion, Dell's G series, Alienware, HP's Omen and Asus ROG
        seriesAcer Predator is a gamer-focused brand and line of computer hardware owned by Acer. In 2008,
        Acer introduced itself in the gaming computer market with a line of desktop computers: the Acer
        Aspire Predator series, later renamed as Acer Predator. The series is characterized by the
        futuristic computer chassis and high performance. In 2016, a complete range of Predator desktops,
        gaming notebooks, tablets and accessories exists.[1]

      </p>

    </div>

    <img src="assets/img/acer.jpg" alt="image">

  </div>

</section>

<hr>

<section id="team">
  <h1 class="h-primary"> Our Team </h1>
  <div id="service">

    <div class="box">
      <img src="assets/img/ashiss.jpg" alt="">
      <h4 class="h-secondary">Ashish Khatiwada</h4>
      <p>
        <strong>Designation: </strong>  <em>Software Engineer</em>
      </p>
      <P>
        <strong>Skills: </strong>  <em>C#.Net, Asp.Net MVC, Microservices in Asp.net, Html, Css, JavaScript, SSIS, SSMS</em>
      </P>
      <P>
        <strong>Qualifications: </strong>  <em> Graduated Bsc.CSIT from Tribhuvan University</em>
      </P>
      <P>
        <strong>About: </strong>  <em> Ashish is one of our Core Team member who has ability to handle the projects related to Microsoft Dot Net technologies. He has more than 3 years of working experience in the software industry and is currently working in Cotiviti Nepal as a Software Engineer.</em>
      </P>
    </div>

    <div class="box">
      <img src="assets/img/saugat.jpg" alt="">
      <h3 class="h-secondary">Saugat Subedi</h3>
      <p>
        <strong>Designation: </strong>  <em>Software Engineer</em>
      </p>
      <P>
        <strong>Skills: </strong>  <em>Java, Spring Core, SpringBoot Rest Api, Html, Css, Data analysis, US HealthCare, Oracle SQL, MySql</em>
      </P>
      <P>
        <strong>Qualifications: </strong>  <em> Graduated Bsc.CSIT from Tribhuvan University</em>
      </P>
      <P>
        <strong>About: </strong>  <em> Saugat is one of our Core Team member who has ability to handle the projects related to US Healthcare, Java and Oracle database related technologies. He has about 3 years of working experience in the software industry and is currently working in Cotiviti Nepal as a Software Engineer.</em>
      </P>
    </div>

    <div class="box">
      <img src="assets/img/sandess.jpg" alt="">
      <h2 class="h-secondary">Sandesh Pokhrel</h2>
      <p>
        <strong>Designation: </strong>  <em>Senior Software Engineer</em>
      </p>
      <P>
        <strong>Skills: </strong>  <em>Java, Spring Core, SpringBoot Rest Api, Microservices, Html, Css, JavaScript, Data analysis, US HealthCare, Oracle PL/SQL, MySql, Angular, JIRA, </em>
      </P>
      <P>
        <strong>Qualifications: </strong>  <em> Graduated Bsc.CSIT from Tribhuvan University</em>
      </P>
      <P>
        <strong>About: </strong>  <em> Sandesh is our Team Leader with more than 4 years of workig experience in Software industry having versatile skills in programming and development. He is Team lead who has ability to track the progress of any kind of web development project and can well manage projects. Currently working as a Senior Software Engineer in Advalent Corporations</em>
      </P>
    </div>

  </div>
</section>
<hr>

<section class="contact-container" id="Contact">
  <h2 class="h-primary">Contact Us</h2>

  <div class="contact-box">
    <form action="" class="form-box">

      <div class="form-group">
        <label for="name" class="lbl-primary">Name:</label>
        <input type="text" name="fullname" id="name" placeholder="Enter your name">
      </div>

      <div class="form-group">
        <label for="gender" class="lbl-primary">Gender:</label>
        <input type="text" name="gender" id="gender" placeholder="Enter your gender">

      </div>

      <div class="form-group">
        <label for="mail" class="lbl-primary">Email:</label>
        <input type="email" name="mail" id="mail" placeholder="Enter your email address">
      </div>

      <div class="form-group">
        <label for="phone" class="lbl-primary">Phone:</label>
        <input type="tel" name="phonenum" id="phone" placeholder="Enter your phone number">
      </div>

      <div class="form-group">
        <label for="msgbox" class="lbl-primary">Leave us message here:</label>
        <textarea name="msg" id="msgbox" cols="30" rows="6"></textarea>
      </div>

      <button class="btn-submit">Submit</button>



    </form>
  </div>

</section>

<hr>
<footer>
  <div class="footer">
    <p>Copyright &copy; www.brtComputerBazar.com.np All rights reserved!</p>
    <p>@2020/2021</p>
  </div>
</footer>
